# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
@EXPLICIT
https://repo.anaconda.com/pkgs/main/osx-64/blas-1.0-mkl.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/bzip2-1.0.6-1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/ca-certificates-2018.8.24-ha4d7672_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/intel-openmp-2019.0-117.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/jpeg-9b-he5867d9_2.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/libcxxabi-4.0.1-hebd6815_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/libgfortran-3.0.1-h93005f0_2.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/libiconv-1.15-hdd342a3_7.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/libsodium-1.0.16-h3efe00b_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/pandoc-2.2.3.2-0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/xz-5.2.4-h1de35cc_4.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/yaml-0.1.7-hc338f04_2.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/zlib-1.2.11-hf3cbc9b_2.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/libcxx-4.0.1-h579ed51_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/libpng-1.6.34-he12f830_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/mkl-2019.0-117.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/openssl-1.0.2p-h470a237_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/tk-8.6.8-ha441bb4_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/expat-2.2.6-h0a44026_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/freetype-2.9.1-hb4e5f40_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/icu-58.2-h4b95b61_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/libffi-3.2.1-h475c297_4.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/ncurses-6.1-h0a44026_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/pcre-8.42-h378b8a2_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/zeromq-4.2.5-h0a44026_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/gettext-0.19.8.1-h15daf44_3.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/libedit-3.1.20170329-hb402a30_2.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libxml2-2.9.8-h422b904_5.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/readline-7.0-h1de35cc_5.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/glib-2.56.2-hd9629dc_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libxslt-1.1.32-h88dbc4e_2.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/sqlite-3.24.0-ha441bb4_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/dbus-1.13.2-h760590f_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/python-3.6.6-h5001a0f_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/qt-5.9.6-h45cd832_2.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/alabaster-0.7.11-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/appdirs-1.4.3-py36h28b3542_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/appnope-0.1.0-py36hf537a9a_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/asn1crypto-0.24.0-py36_3.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/attrs-18.2.0-py36h28b3542_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/backcall-0.1.0-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/blinker-1.4-py_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/boto-2.49.0-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/free/osx-64/bz2file-0.98-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/certifi-2018.8.24-py36_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/chardet-3.0.4-py36_3.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/click-6.7-py36hec950be_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/cloudpickle-0.5.5-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/constantly-15.1.0-py36h28b3542_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/cryptography-vectors-2.3.1-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/decorator-4.3.0-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/docutils-0.14-py36_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/entrypoints-0.2.3-py36_2.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/idna-2.7-py36_2.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/imagesize-1.1.0-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/incremental-17.5.0-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/ipython_genutils-0.2.0-py36h241746c_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/itsdangerous-0.24-py36_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/jmespath-0.9.3-py_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/kiwisolver-1.0.1-py36h0a44026_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/lazy-object-proxy-1.3.1-py36h1de35cc_2.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/lxml-4.2.5-py36hc9114bc_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/markupsafe-1.0-py36h1de35cc_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/mccabe-0.6.1-py36_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/mistune-0.8.3-py36h1de35cc_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/numpy-base-1.15.1-py36h8a80b8c_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/pandocfilters-1.4.2-py36_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/parso-0.3.1-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/pickleshare-0.7.4-py36hf512f8e_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/psutil-5.4.7-py36h1de35cc_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/ptyprocess-0.6.0-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/pyasn1-0.4.4-py36h28b3542_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/pycodestyle-2.4.0-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pycparser-2.18-py_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/pyflakes-2.0.0-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/pyparsing-2.2.0-py36_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/pysocks-1.6.8-py36_2.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/python-crfsuite-0.9.6-py36h470a237_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/python.app-2-py36_8.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/pytz-2018.5-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/pyyaml-3.13-py36h1de35cc_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/pyzmq-17.1.2-py36h1de35cc_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/qtpy-1.5.0-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/rope-0.11.0-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/send2trash-1.5.0-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/simplegeneric-0.8.1-py36_2.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/sip-4.19.12-py36h0a44026_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/six-1.11.0-py36_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/snowballstemmer-1.2.1-py36h6c7b616_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/sphinxcontrib-1.0-py36_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/testpath-0.3.1-py36h625a49b_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/tornado-5.1-py36h1de35cc_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/typed-ast-1.1.0-py36h1de35cc_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/wcwidth-0.1.7-py36h8c6ec74_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/webencodings-0.5.1-py36_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/werkzeug-0.14.1-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/wrapt-1.10.11-py36h1de35cc_2.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/zope-1.0-py36_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/astroid-2.0.4-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/automat-0.7.0-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/babel-2.6.0-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/cffi-1.11.5-py36h5e8e0c9_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/cycler-0.10.0-py36hfc81398_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/html5lib-1.0.1-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/hyperlink-18.0.0-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/jedi-0.12.1-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/keyring-13.2.1-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/packaging-17.1-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/pexpect-4.6.0-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/pyasn1-modules-0.2.2-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pyhamcrest-1.9.0-py_2.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/pyqt-5.9.2-py36h655552a_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/python-dateutil-2.7.3-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/python-dotenv-0.9.1-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/qtawesome-0.4.4-py36h468c6fb_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/setuptools-40.2.0-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/sphinxcontrib-websupport-1.1.0-py36_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/terminado-0.8.1-py36_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/traitlets-4.3.2-py36h65bd3ce_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/bleach-2.1.4-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/clyent-1.2.2-py36_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/cryptography-2.3.1-py36hdffb7b8_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/isort-4.3.4-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/jinja2-2.10-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/jsonschema-2.6.0-py36hb385e00_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/jupyter_core-4.4.0-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/pygments-2.2.0-py36h240cd3f_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/wheel-0.31.1-py36_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/zope.interface-4.5.0-py36h1de35cc_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/flask-1.0.2-py36_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/jupyter_client-5.2.3-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/nbformat-4.4.0-py36h827af21_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/pip-18.0-py36_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/prompt_toolkit-1.0.15-py36haeda067_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pyjwt-1.6.4-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/pylint-2.1.1-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/pyopenssl-18.0.0-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/free/osx-64/twisted-17.5.0-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/ipython-6.5.0-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/nbconvert-5.3.1-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/oauthlib-2.1.0-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/prometheus_client-0.3.1-py36h28b3542_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/service_identity-17.0.0-py36h28b3542_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/urllib3-1.23-py36_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/botocore-1.12.5-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/ipykernel-4.9.0-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/requests-2.19.1-py36_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/anaconda-client-1.7.2-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/jupyter_console-5.2.0-py36_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/notebook-5.6.0-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/qtconsole-4.4.1-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/requests-oauthlib-1.0.0-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/s3transfer-0.1.13-py36_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/sphinx-1.7.9-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/spyder-kernels-0.2.6-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/boto3-1.9.5-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/jupyter_contrib_core-0.3.3-py_2.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/nbpresent-3.0.2-py36_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/numpydoc-0.8.0-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/tweepy-3.6.0-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/twython-3.7.0-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/widgetsnbextension-3.4.1-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/ipywidgets-7.4.1-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/jupyter_highlight_selected_word-0.2.0-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/jupyter_latex_envs-1.4.4-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/jupyter_nbextensions_configurator-0.4.0-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/smart_open-1.6.0-py_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/spyder-3.3.1-py36_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/jupyter-1.0.0-py36_6.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/jupyter_contrib_nbextensions-0.5.0-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/matplotlib-2.2.3-py36h54f8f79_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/mkl_fft-1.0.4-py36h5d10147_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/mkl_random-1.0.1-py36h5d10147_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/numpy-1.15.1-py36h6a91979_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/pandas-0.23.4-py36h6440ff4_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/scipy-1.1.0-py36h28f7352_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/gensim-3.4.0-py36h1de35cc_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/scikit-learn-0.19.1-py36hf9f1f73_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/nltk-3.2.5-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/textblob-0.15.1-py_0.tar.bz2
https://repo.anaconda.com/pkgs/free/osx-64/nb_anacondacloud-1.4.0-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-64/nb_conda-2.2.1-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/free/osx-64/_nb_ext_conf-0.4.0-py36_1.tar.bz2
https://repo.anaconda.com/pkgs/free/osx-64/nb_conda_kernels-2.1.0-py36_0.tar.bz2
